.location-icon {
  --active: var(--grey-1100);
  --color: var(--grey-1100);
  --hover: var(--grey-1100);
  --size: 20px;
  mask-image: url("https://cdn.unstop.com/assets/icons/location_on_color.svg");
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 40;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.footer-hidden {
  transform: translateY(100%);
}

.drawer {
  z-index: 50;
}

main {
  padding-bottom: 60px;
}


@media (min-width: 40rem) {
  .footer-wrapper {
    position: sticky;
    transform: none !important;
  }
}